/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"); */

@tailwind base;
@tailwind components;

.btn {
  @apply bg-green-700 text-white font-normal h-10 leading-10 px-6 rounded-md inline-block no-underline text-center;
}
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Protest Revolution", sans-serif; */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  width: 100%;
  height: 100%;
}

#contactButtonFromLayout2,
#jobOpeningButtonFromLayout2,
.buttonForLayout3CourseCard,
#layout3EnrollTodayButton,
.submitButtonForlayout4,
.selectCardButtonLayout4,
.layout4button {
  background-color: #0b6476;
}
#contactButtonFromLayout2:hover,
#jobOpeningButtonFromLayout2:hover,
#layout3EnrollTodayButton:hover {
  background-color: #1a3439;
}

.layout4CardButton {
  background: rgb(122, 120, 220);
}
.layout1HeaderNavLink {
  position: relative;
}
.layout1HeaderNavLink::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.layout1HeaderNavLinkActive::after {
  content: "";
  width: 100%;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

a:link,
a:visited {
  transition: all 0.31s ease;
}
